/* Underline Reveal */
.hvr-underline-reveal{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before, .dropdown:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C2FD20;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before, .dropdown:hover:before{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.footer {
	height: 150px;
	text-align: center;
	background-color: black;
  	right: 0;
  	left: 0;
  	bottom: 0;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#loginDiv{
	margin: 0 auto;
	width:350px;
}
body {
	background-color: #ddd;
}
.hvr-overline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-overline-reveal:before {
  content: "";
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
}

#dashTab.hvr-overline-reveal:before{
	background: #CA0572;
}
#editorTab.hvr-overline-reveal:before{
	background: #FD3C20;
}
#reportsTab.hvr-overline-reveal:before{
	background: #64322A;
}
#findUseTab.hvr-overline-reveal:before{
	background: #C2FD20;
}
.nav-tabs > li > a:hover ,
.nav > li > a:hover,{
	z-index: -1;
}

.step{
	border-radius: 15px 50px;
    background: #d8d8d4;
    padding: 20px; 
    width: 300px;
   
}
.mahor{
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
	margin:20px;
}
.need{/*what is this for?*/
	width:250px;
	background:#DEDCDC;
	padding:20px;
}
.heh{/*what is this for?*/
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
	margin:20px;
}
	
#sideBar{
	float:left;
	width:250px;
height:100%;
background-color:#eeeeee;
}
.proc{
	width:250px;
	border:1px solid #eeeeee;
}
.pend{
	width:100px;
	border:1px solid #DEDCDC;
	height:120px;
}
.notpend{
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
}
#sideBarr{
	float:right;
	width:250px;
background-color:#DEDCDC;
}
.showcontrol{
display:inline;
}
.hidecontrol{
display:none;
}
.frmstyle{
 border-radius: 15px 50px;
    background: #d8d8d4;
    padding: 20px; 
    width: 350px;
   
}
.frmstyle:hover{
	background: #fafafa;
}

#form{
float:left;
width:300px;
margin-left:10px;
}

.btn-resized{
width:100%;
}
#main{
float:left;
background-color:#eeeeee;
margin-left:2%;
margin-right:2%;
width: auto;
height: 100%;
}
#mains{
background-color:#eeeeee;
height: 100%;
}

#side{
width:250px;
float:right;
}
