<style>


.colored{
background-color:black;
color:white;
}
.colorednav{
background-color:black;
border-color:black;
}
.step{
	border-radius: 15px 50px;
    background: #d8d8d4;
    padding: 20px; 
    width: 300px;
   
}
.mahor{
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
	margin:20px;
}
.need{
	width:250px;
	background:#DEDCDC;
	padding:20px;
}
.heh{
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
	margin:20px;
}
	
#sideBar{
	float:left;
	width:250px;
height:100%;
background-color:#eeeeee;
}
.proc{
	width:250px;
	border:1px solid #eeeeee;
}
.pend{
	width:100px;
	border:1px solid #DEDCDC;
	height:120px;
}
.notpend{
	width:150px;
	border:1px solid #DEDCDC;
	height:150px;
}
#sideBarr{
	float:right;
	width:250px;
background-color:#DEDCDC;
}
body{
	height:100%;
	width:100%;
	}
ul{
list-style-type:none;
}
.showcontrol{
display:inline;
}
.hidecontrol{
display:none;
}
.frmstyle{
 border-radius: 15px 50px;
    background: #d8d8d4;
    padding: 20px; 
    width: 350px;
   
}
.frmstyle:hover{
	background: #fafafa;
}

#form{
float:left;
width:300px;
margin-left:10px;
}

.btn-resized{
width:250px;
}
#main{
float:left;
background-color:#eeeeee;
margin-left:10px;
width:100%:
}

#side{
width:250px;
float:right;
}